.container{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 150px;
    background-color: gainsboro;
    width:100%;
    height:50px;
}
.container div{
    font-weight: 500;
}
.sort{
    display: flex;
    align-items: center;
}
.sort div{
    font-size:18px;
    margin-right:20px;
}
.sort select{
    padding:5px 10px;
}


@media (max-width:700px){
    .container{
        padding:0 100px;
    }
}
@media (max-width:500px) {
    .container{
        padding:0;
        bottom:0;
    }
}