.Content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 500px;
    background: url("/public/images/img1.png") no-repeat;
    background-position: center;
    background-size:cover;
}
.Content h1{
    margin: 140px 154px 0 0 ;
    color: white;
    font-size: 3em;
    font-weight: 500;
    line-height: 80px;
}
.Content a{
    text-decoration: none;
    border-bottom:1px solid white;
    padding-bottom:8px;
    margin: 20px 380px 0 0;
    color: white;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 20px;
    text-transform: uppercase;
}

@media(max-width:500px){
    .Content a{
        margin: 20px 220px 0 0;
    }
    .Content h1{
        margin:100px 0 50px 0 ;
    }
}