.footer{
    background-color:#33333A;
    margin-top: 50px;
    min-height: 420px;
}

.gridContainer{
    display: grid;
    padding:50px 100px;
    word-wrap: break-word;
    row-gap: 30px;
    column-gap:20px;
    line-height: 2em;
    grid-template-columns: repeat(6,16%);
    grid-template-rows: auto auto;
}
.gridContainer .gridItem{
    color:white;
}
.gridItem:last-child{
    grid-column:span 3;
}

.gridItem:nth-child(4){
    grid-column: span 3;
}

.flexContainer{
    display: flex;
    flex-direction: column;
}
.flex-container li{
    font-size:15px;
    line-height: 1.5em;
    list-style-type: none;
}
.hide{
    visibility: hidden;
}
.form input{
    width: 65%;
    background-color:#33333A;
    color:white;
    border:0.5px solid #666666;
    padding:10px 0px 10px 10px;
    margin-right:20px;
}
.form input::placeholder{
    color:white;
}
.form button{
    border:none;
    color:#33333A;
    text-transform: uppercase;
    background-color:white;
    padding:10px 40px;
}
.bold{
    font-weight: 800;
}
.icons img{
    margin:20px 5px 0 0;
}
.flex-container li{
    font-size:13px;
}

.copyrights{
    display: flex;
    justify-content: center;
    color:#DEDEDE;
    font-size: 14px;
}


@media (max-width:1000px){
    .gridContainer{
        padding:50px 50px;
        display: flex;
        flex-direction: column;
    }
}