.pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
}
.pictures img{
    width:250px;
}
.picturesCaptions{
    display: flex;
    flex-wrap:wrap;
    gap:45px;
    justify-content: center;
    margin-bottom:50px;
}
.picturesCaptions img{
    width:333px;
    margin-bottom:20px;
}
.picturesCaptions img + div{
    display: flex;
    font-weight: 600;
    justify-content: center;
} 
.reviewImg{
    width:100%;
    height: 500px;
    background-image:url("/public/images/ReviewProduct.png");
    background-size:cover;
    background-attachment: fixed;
    margin-bottom:50px;
}


/* Style for the Pop Up */
.popupBox {
    width: 100%;
    height: 92vh;
    z-index: 999;
    font-weight: 500;
  }
  .box {
    position: relative;
    width: 80%;
    min-height: 300px;
    margin: 0px auto;
    padding: 20px;
    overflow: auto;
  }
  .info {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 80vh;
    margin-top: 20px;
  }
  .imageContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .imageContainer img {
    width: 50px;
    height: 50px;
  }
  .mainImage img {
    max-width:600px;
    width:100%;
    height: 90%;
    min-width: 468px;
  }
  .imgDescription {
    flex-grow: 1;
  }
  .imgDescription h1 {
    margin: 0 auto;
  }
  .imgDescription header {
    font-size: 20px;
    line-height: 2em;
  }
  .imgDescription > div {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
  }
  .price {
    color: #ff6008;
    font-weight: 700;
    font-size: 25px;
  }
  .flexSpaceBetween {
    display: flex;
    justify-content: space-between;
  }
  .rating i {
    color: #ff6008;
  }
  .imgDescription .description {
    padding-bottom: 20px;
  }
  .test {
    padding: 15px 0;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .test div:nth-child(2) {
    opacity: 0.8;
    color: #666666;
  }
  
  .imgDescription .sizeContainer {
    border: none;
    margin-top: 20px;
    opacity: 0.7;
  }
  .sizeContainer div:first-child{
    margin-bottom:10px;
  }
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .centerSizes{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .centerSizes div:last-child{
    text-transform: uppercase;
  }
  .purchaseContainer{
    display: flex;
    margin-top:10px;
  }
  h5{
    margin: 10px auto 0;
  }
  .numberContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      position: static;
      width: 50px;
      height: 40px;
      background-color: white;
      border: 1px solid #DEDEDE;
      font-size:15px;
      text-align: center;
      box-sizing: border-box;
  }
  
  .incBtn{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    width: 40px;
    height: 40px;
    background-color: #DEDEDE;
    border: 1px solid #DEDEDE;
    font-size:30px;
    text-align: center;
    box-sizing: border-box;
  }
  .buttonContent{
    background-color: #33333A;
    color:white;
    padding: 5px;
    text-transform: uppercase;
    margin-left:20px;
    cursor: pointer;
  }
  
  .wishList{
    width:100%;
    margin-left:0px;
    margin-top:10px;
    display: flex;
    justify-content: center;
  }
  @media(max-width:1300px){
    .info{
      flex-direction: column;
    }
    .popupBox{
        height: 100vh;
    }
    .mainImage{
      display: flex;
      justify-content: center;
    }
    .mainImage img{
      min-width: unset;
    }
    .imageContainer{
      flex-direction:row;
    }
    .wishList{
      position: static;
    }
  }
  @media(max-width:400px){
    .imageContainer{
      gap:10px;
    }
  }