.matterContent{
    box-sizing: border-box;
    padding: 0 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap:30px;
    margin-bottom: 100px;
}
.matterContent img{
    width:522px;
    height:400px;
}
.matterContent div{
    display: flex;
    height: 430px;
    width:450px;
    flex-direction: column;
}
.matterContent div p:first-child
{
    margin-top:0;
    font-weight: 600;
    line-height: 2em;
}
.matterContent p:not(:first-child){
    font-size:12px;
    text-transform: uppercase;
}
.matterContent li{
    font-weight:500;
    list-style: none;
    line-height: 1.5em;
}