.matter-content{
    box-sizing: border-box;
    padding: 0 170px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    gap:30px;
}
.matter-content img{
    width:522px;
    height:400px;
}
.matter-content div{
    display: flex;
    height: 430px;
    width:450px;
    flex-direction: column;
    /* overflow: auto; */
}
.matter-content div p:first-child
{
    margin-top:0;
    font-weight: 600;
    line-height: 2em;
}
.matter-content p:not(:first-child){
    font-size:12px;
    text-transform: uppercase;
}
.matter-content li{
    font-weight:500;
    list-style: none;
    line-height: 1.5em;
}