.video{
    width: 361px;
    height: 200px;
    position: relative;
}
.video img{
    width: 100%;
    /* height:100%; */
}
.video i{
    position: absolute;
    font-size: 80px;
    left:39%;
    top:30%;
    color:white;
}