.buttonDesign{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.buttonContent{
    background-color: #33333A;
    color:white;
    padding: 10px 20px;
    text-transform: uppercase;
}
